

<ion-button class="ion-margin" color="light" routerLink="/dashboard/agenda">Atras</ion-button>
<form  [formGroup]="addFrom" (ngSubmit)="add()" class="m-10 w-full max-w-lg">
  <div class="flex flex-wrap mx-3 mb-6">

    <div class="w-full md:w-1/2 px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
        Cliente
      </label>
      <select formControlName="id_fk_customer" (change)="changeCustomer($event)">
        <option value="">Escoge...</option>
        <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">{{cliente.name_customer}}
        </option>
     </select>
    </div>

    <div *ngIf="prestamos !== null && prestamos !== ['']" class="w-full md:w-1/2 px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
        Prestamo
      </label>
      <select formControlName="id_fk_loan">
        <option value="">Escoge...</option>
        <option *ngFor="let prestamo of prestamos" [ngValue]="prestamo.id">prestamo numero: #{{prestamo.id}}
        </option>
     </select>
    </div>

    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
        Nota
      </label>
      <input class="appearance-none block w-full bg-gray-200 text-gray-700 border py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text"
      formControlName="note">
    </div>

    <div class="w-full md:w-1/2 px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
        Tipo
      </label>
      <select formControlName="type_note">
        <option value="">Escoge...</option>
        <option [ngValue]="1">Precaucion</option>
        <option [ngValue]="2">Urgente</option>
        <option [ngValue]="3">Riesgo</option>
     </select>
    </div>
    
  </div>

  <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit">
    Agregar
  </button>
</form>

