/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.colorBGadmin{
  color: #AD8927;
}
.colorBGadminlogin{
  background-image: url("/assets/img/fondo.jpeg");
  background-size: cover;
  position: relative;
}
.w-fulled{
  width: 165%;
}
*{
  font-family: 'Poppins', sans-serif !important;
}


:root {
  --ion-color-primary: #FFD54F;
  --ion-color-primary-rgb: 255, 215, 0;
  --ion-color-primary-contrast: #212529;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #212529;
  --ion-color-primary-tint: #212529;
}
.ion-color-primary {
  --ion-color-base: var(--ion-color-primary) !important;
  --ion-color-base-rgb: var(--ion-color-primary-rgb) !important;
  --ion-color-contrast: var(--ion-color-primary-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-primary-shade) !important;
  --ion-color-tint: var(--ion-color-primary-tint) !important;
}

:root {
  --ion-color-gold: #FCD346;
  --ion-color-gold-rgb: 255, 215, 0;
  --ion-color-gold-contrast: #ffffff;
  --ion-color-gold-contrast-rgb: 0, 0, 0;
  --ion-color-gold-shade: #F3F4F6;
  --ion-color-gold-tint: #F3F4F6;
}
.ion-color-gold {
  --ion-color-base: var(--ion-color-gold) !important;
  --ion-color-base-rgb: var(--ion-color-gold-rgb) !important;
  --ion-color-contrast: var(--ion-color-gold-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-gold-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-gold-shade) !important;
  --ion-color-tint: var(--ion-color-gold-tint) !important;
}

.bg-dimmed{
  background: #161A1F;
}

.bg-dimmed-dark{
  background: #111417;
}

.bg-dimmed-700{
  background: #191e24;
}

:root {
  --ion-color-dimmed-dark: #111417;
  --ion-color-dimmed-dark-rgb: 255, 215, 0;
  --ion-color-dimmed-dark-contrast: #ffffff;
  --ion-color-dimmed-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dimmed-dark-shade: #F3F4F6;
  --ion-color-dimmed-dark-tint: #F3F4F6;
}
.ion-color-dimmed-dark {
  --ion-color-base: var(--ion-color-dimmed-dark) !important;
  --ion-color-base-rgb: var(--ion-color-dimmed-dark-rgb) !important;
  --ion-color-contrast: var(--ion-color-dimmed-dark-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-dimmed-dark-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-dimmed-dark-shade) !important;
  --ion-color-tint: var(--ion-color-dimmed-dark-tint) !important;
}

:root {
  --ion-color-dimmed: #161A1F;
  --ion-color-dimmed-rgb: 255, 215, 0;
  --ion-color-dimmed-contrast: #ffffff;
  --ion-color-dimmed-contrast-rgb: 0, 0, 0;
  --ion-color-dimmed-shade: #F3F4F6;
  --ion-color-dimmed-tint: #F3F4F6;
}
.ion-color-dimmed {
  --ion-color-base: var(--ion-color-dimmed) !important;
  --ion-color-base-rgb: var(--ion-color-dimmed-rgb) !important;
  --ion-color-contrast: var(--ion-color-dimmed-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-dimmed-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-dimmed-shade) !important;
  --ion-color-tint: var(--ion-color-dimmed-tint) !important;
}

:root {
  --ion-color-light: #FEF3C7;
  --ion-color-light-rgb: 255, 215, 0;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #E5E7EB;
  --ion-color-light-tint: #E5E7EB;
}
.ion-color-light {
  --ion-color-base: var(--ion-color-light) !important;
  --ion-color-base-rgb: var(--ion-color-light-rgb) !important;
  --ion-color-contrast: var(--ion-color-light-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-light-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-light-shade) !important;
  --ion-color-tint: var(--ion-color-light-tint) !important;
}

button{
    --tw-ring-opacity: 1;
    --tw-ring-color: rgba(0, 0, 0, var(--tw-ring-opacity));
}

.superOverlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(74,74,74,.6);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonOverlay{
  position: fixed;
  z-index: 11;
  display: flex;
  align-items:flex-end;
  justify-content: flex-end;
}

ion-alert {
  //background color
  .alert-wrapper.sc-ion-alert-md {
    background-color: var(--ion-color-dimmed-dark);
  }

  // Header Text
  .alert-title.sc-ion-alert-md {
    font-size: 25px;
    font-family: "AustralisProSwash-Italic";
    color: var(--ion-color-light);
  }

  // checkbox border color
  [aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
    border-color: var(--ion-color-primary);
  }

  // checkbox or radio button color
  .alert-radio-inner.sc-ion-alert-md {
    background-color: var(--ion-color-primary) !important;
  }

  // wrap the text
  .alert-radio-label.sc-ion-alert-md {
    white-space: pre-line !important;
    font-family: "AustralisProSwash-Italic";
    color: var(--ion-color-light);
    font-weight: bold;
  }

  // Checked text color
  [aria-checked="true"].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
    color: var(--ion-color-light);
  }
  .alert-title{
    border-color: #78350F;
  }

  // Button color
  .alert-button-inner.sc-ion-alert-md {
    color: var(--ion-color-light);
    font-size: larger;
  }
}

ion-picker>.picker-wrapper {
  background-color: var(--ion-color-dimmed) !important;
}

.picker-opt {
  color: #7994A2 !important;
}

.picker-opt.picker-opt-selected {
  color: var(--ion-color-light) !important;
}

ion-datetime {
  color: var(--ion-color-light) !important;
}

